<SectionContent SectionName="before-h1">
    <a href=@($"/{ClusterIdx}/brokers")>Brokers</a>
    <b class="ms-2 me-2">/</b>
</SectionContent>

<KafkafPageHeader Title=@($"Broker #{BrokerIdx} on cluster #{ClusterIdx}")
                  H1=@($"Broker #{BrokerIdx}") />

<div class="container-fluid pt-2 pb-3 rounded" style="background-color: #cacaca;">
    <div class="row">
        <ul class="list-group list-group-horizontal small w-100">
            <li class="list-group-item col-2">
                <div>Segment Size</div>
                <span class="badge bg-secondary">TODO</span>
            </li>
            <li class="list-group-item col-2">
                <div>Segment Count</div>
                <span class="badge bg-secondary">TODO</span>
            </li>
            <li class="list-group-item col-2">
                <div>Port</div>
                <span class="badge bg-secondary">TODO</span>
            </li>
            <li class="list-group-item col-2">
                <div>Host</div>
                <span class="badge bg-secondary">TODO</span>
            </li>
        </ul>
    </div>
</div>

<ul class="nav nav-tabs mt-3">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Log directories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Configs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Metrics</a>
    </li>
</ul>

@code {
    [Parameter]
    public int ClusterIdx { get; set; }

    [Parameter]
    public int BrokerIdx { get; set; }

    [Parameter]
    public string PageTitle { get; set; } = "?";

    [Parameter]
    public string PageHeading { get; set; } = "?";
}
