<SectionContent SectionName="before-h1">
    <a href=@($"/{ClusterIdx}/brokers")>Brokers</a>
    <b class="ms-2 me-2">/</b>
</SectionContent>

<KafkafPageHeader Title=@PageTitle H1=@PageHeading />

<div class="container-fluid pt-2 pb-3 rounded" style="background-color: #cacaca;">
    <div class="row ms-2">
        <ul class="list-group list-group-horizontal small w-100">
            <li class="list-group-item col-2">
                <div>Segment Size</div>
                <span class="badge bg-secondary">TODO</span>
            </li>
            <li class="list-group-item col-2">
                <div>Segment Count</div>
                <span class="badge bg-secondary">TODO</span>
            </li>
            <li class="list-group-item col-2">
                <div>Port</div>
                <span class="badge bg-secondary">TODO</span>
            </li>
            <li class="list-group-item col-2">
                <div>Host</div>
                <span class="badge bg-secondary">TODO</span>
            </li>
        </ul>
    </div>
</div>

<ul class="nav nav-tabs mt-3">
    <li class="nav-item">        
        @linkForTab(BrokerTabs.LogDirectories)
    </li>
    <li class="nav-item">
        @linkForTab(BrokerTabs.Configs)        
    </li>
    <li class="nav-item">
        @linkForTab(BrokerTabs.Metrics)
    </li>
</ul>

@code {

}
