<div class="field">
  <!-- upper label -->
  <div class="label">
    <span class="icon-text">
      <span>Partitions</span>
      @if (selectedNotEmpty()) {
        <span class="icon has-text-success">
          <i class="fas fa-check"></i>
        </span>
      } @else {
        <span class="icon has-text-warning">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      }
    </span>
  </div>

  <!-- dropdown -->
  <div class="control" appClickOutside (clickOutside)="onClickedOutside()">
    <div class="dropdown" [class.is-active]="isActive()">
      <div class="dropdown-trigger">
        <button
          class="button has-text-weight-normal is-justify-content-space-between"
          aria-haspopup="true"
          aria-controls="dropdown-menu"
          (click)="toggleIsActive()"
        >
          <span>
            @if (selectedNotEmpty()) {
              {{ partitionsCommaSeparted() }}
            } @else {
              Select...
            }
          </span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <input
            type="search"
            id="search-topic-name"
            class="dropdown-item"
            placeholder="Search.."
            [(ngModel)]="search"
          />
          <hr class="dropdown-divider" />

          <ul class="dropdown-item">
            <li>
              <input
                type="checkbox"
                [(ngModel)]="selectAll"
                [disabled]="partitionsWithMessages().length === 0"
              />
              Select All
            </li>

            <!-- checkboxes for partitions-->
            @for (p of partitionsFiltered(); track $index) {
              <li>
                @if (p.messagesCount === 0) {
                  Partition #{{ p.partition }}
                  <i class="is-pulled-right">empty</i>
                } @else {
                  <input
                    type="checkbox"
                    [checked]="selectedSet().has(p.partition)"
                    (change)="onCheckboxChange(p)"
                  />
                  Partition #{{ p.partition }} {{ selectedSet().has(p.partition) }}
                  <i class="is-pulled-right badge has-messages pl-1 pr-1">{{ p.messagesCount }}</i>
                }
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
