<div class="modal" [class.is-active]="active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ request?.title }}</p>
      <button class="delete" aria-label="close" (click)="confirm(false)"></button>
    </header>
    <section class="modal-card-body" [innerHTML]="request?.body"></section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button is-success" (click)="confirm(true)">
          {{ request?.confirmText }}
        </button>
        <button class="button" (click)="confirm(false)">{{ request?.cancelText }}</button>
      </div>
    </footer>
  </div>
</div>
