@using Kafkaf.Models
@using System.ComponentModel.DataAnnotations

<EditForm FormName="CreateTopicForm" Model="@Model">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="row mb-4">
		<div class="form-group">
			<label for="topicName">Topic Name <span class="text-danger">*</span></label>
			<InputText @bind-Value="Model.Name" class="form-control" id="topicName"></InputText>
		</div>
	</div>

	<div class="row mb-4">
		<div class="col">
			<div class="form-group">
				<label for="numPartitions">Number of Partitions <span class="text-danger">*</span></label>
				<InputNumber @bind-Value="Model.NumPartitions" class="form-control" id="numPartitions"></InputNumber>
			</div>
		</div>
		<div class="col">
			<div class="form-group">
				<label for="cleanupPolicy">Cleanup policy</label>
				<InputSelect @bind-Value="Model.CleaupPolicy" class="form-control" id="cleanupPolicy">
					@foreach (var opt in Model.CleanupPolicyOptions)
					{
						<option value="@opt.Key">@opt.Value</option>
					}
				</InputSelect>
			</div>
		</div>
	</div>

	<div class="row mb-4">
		<div class="col">
			<div class="form-group">
				<label for="minInSyncReplicas">Min In Sync Replicas</label>
				<InputNumber @bind-Value="Model.MinInSyncReplicas" class="form-control" id="minInSyncReplicas" />
			</div>
		</div>
		<div class="col">
			<div class="form-group">
				<label for="replicationFactor">Replication Factor</label>
				<InputNumber @bind-Value="Model.ReplicationFactor" class="form-control" id="replicationFactor" />
			</div>
		</div>
	</div>

	<div class="row mb-4">
		<div class="col-6">
			<div class="form-group">
				<label for="timeToRetain">Time to retain data (in ms)</label>
				<InputNumber @bind-Value="Model.TimeToRetain" class="form-control mb-2" id="timeToRetain" />

				<div class="btn-group w-100" role="group" aria-label="Time to retain shortcuts">
					<button type="button" class="btn btn-sm btn-outline-secondary rounded me-1">12 hours</button>
					<button type="button" class="btn btn-sm btn-outline-secondary rounded me-1">1 day</button>
					<button type="button" class="btn btn-sm btn-outline-secondary rounded me-1">2 days</button>
					<button type="button" class="btn btn-sm btn-outline-secondary rounded me-1">7 days</button>
					<button type="button" class="btn btn-sm btn-outline-secondary rounded">4 weeks</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row mb-4">
		<div class="col">
			<div class="form-group">
				<label for="retentionBytes">Max size on disk in GB</label>				
				<InputSelect @bind-Value="Model.RetentionBytes" class="form-control" id="retentionBytes">
					<option value="">Not Set</option>
					<option value="1">1 GB</option>
					<option value="10">10 GB</option>
					<option value="20">20 GB</option>
					<option value="50">50 GB</option>
				</InputSelect>
			</div>
		</div>
		<div class="col">
			<div class="form-group">
				<label for="maxMessageBytes">Maximum message size in bytes</label>
				<InputNumber @bind-Value="Model.MaxMessageBytes" class="form-control" id="maxMessageBytes" />
			</div>
		</div>
	</div>	
</EditForm>

@code {	
	private CreateTopicModel Model = new();		
}
