@using Kafkaf.Components.Topic

@inherits ClusterIndexAwarePage
@rendermode InteractiveServer
@attribute [Route(TopicComponent.ROUTE_CONSUMERS)]

<TopicComponent ClusterIdx="@clusterIdx"
				PageTitle=@($"Topic {topicName}: Consumers")
				TopicName="@topicName"
				CurrentPathPart="@TopicComponent.PATH_PART_CONSUMERS" />

<h3>this is topic consumers</h3>

@code {	

	[Parameter]
	public string topicName { get; set; } = string.Empty;
}
