@using Confluent.Kafka
@using Confluent.Kafka.Admin
@using Kafkaf.Config
@using Microsoft.Extensions.Caching.Memory
@using Microsoft.Extensions.Options

@page "/{clusterIdx:int}/topics/create"
@rendermode InteractiveServer

@inject IOptions<List<ClusterConfigOptions>> ClusterOptions;
@inject IMemoryCache MemoryCache


<PageTitle>Topics: Create New</PageTitle>


<h3>Create Topic</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-8 mt-4">
            <_CreateTopicForm UrlBack="@UrlBack" />
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(successNotice))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> @successNotice
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <p>
        <NavLink href="/topics">
            Return to topics
        </NavLink>
    </p>
}

@if(!string.IsNullOrEmpty(errorNotice))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> @errorNotice
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@code {
    [Parameter]
    public int clusterIdx { get; set; }

    // private string TopicName { get; set; } = String.Empty;
    // private int NumPartitions { get; set; } = -1;
    // private short ReplicationFactor { get; set; } = -1;
    // private Dictionary<string, string> Configs = new Dictionary<string, string>();
    // private Dictionary<int, List<int>> ReplicasAssignments = new Dictionary<int, List<int>>();

    // private string newKey = string.Empty;
    // private string newValue = string.Empty;

    // private int newReplicaKey = -1;
    // private string newReplicaValue = string.Empty;

    private string? successNotice;
    private string? errorNotice;

    private async Task HandleValidSubmitAsync()
    {
        // clear notices
        errorNotice = null;
        successNotice = null;

        // Process the submitted data
        var newTopic = new TopicSpecification
        {
            Name = "", //TopicName,
            NumPartitions = 1, //NumPartitions,
            ReplicationFactor = 1, //ReplicationFactor,
            //Configs = Configs,
            //ReplicasAssignments = ReplicasAssignments
        };

        var clusterConfig = ClusterOptions.Value[clusterIdx - 1];

        try
        {

            await KafkaUtils.CreateTopicAsync(clusterConfig, newTopic);

            successNotice = $"Topic '{newTopic.Name}' created successfully.";

            // TopicName = string.Empty;
            // NumPartitions = -1;
            // ReplicationFactor = -1;
            // Configs.Clear();
            // ReplicasAssignments.Clear();

            // invalidate cache
            MemoryCache.Remove(clusterConfig.CacheKey());
        }
        catch (CreateTopicsException e)
        {            
            errorNotice = $"An error occurred creating topic '{newTopic.Name}': {e.Results[0].Error.Reason}";
        }
        catch (Exception ex)
        {            
            errorNotice = $"An unexpected error occurred: {ex.Message}";
        }
    }    

    private string UrlBack
    {
        get => $"/{clusterIdx}/topics";
    }
    // private void HandleAppendToConfigs()
    // {
    //     Configs.Add(newKey, newValue);
    //     newKey = string.Empty;
    //     newValue = string.Empty;
    // }


    // private void HandleDeleteConfig(string key)
    // {
    //     if (Configs.Remove(key))
    //     {
    //         If needed, trigger UI refresh
    //         StateHasChanged();
    //     }
    // }    
}
