@page "/topics"
@rendermode InteractiveServer

<PageTitle>Topics: List</PageTitle>

<div class="card">
  <div class="card-header">
    <h3>Topics: List</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

  </div>
  <div class="card-footer">
        <a href="#" class="btn btn-primary">Create Topic</a>
  </div>
</div>



@code {

}
