@using Kafkaf.Components.Topic

@inherits ClusterIndexAwarePage
@rendermode InteractiveServer
@attribute [Route(TopicComponent.ROUTE_STATISTICS)]

<TopicComponent ClusterIdx="@clusterIdx"
				PageTitle=@($"Topic {topicName}: Statistics")
				TopicName="@topicName"
				CurrentPathPart="@TopicComponent.PATH_PART_STATISTICS" />

<h3>this is topic statistics</h3>

@code {
	[Parameter]
	public string topicName { get; set; } = string.Empty;
}
