@using Kafkaf.Components.Topic

@inherits ClusterIndexAwarePage
@rendermode InteractiveServer
@attribute [Route(TopicComponent.ROUTE_OVERVIEW)]

<TopicComponent ClusterIdx="@clusterIdx"
				PageTitle=@($"Topic: {topicName}")
				TopicName="@topicName"
				CurrentPathPart="@TopicComponent.PATH_PART_OVERVIEW" />

<h5>DUMMY DATA</h5>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Partition ID</th>
			<th>Replicas</th>
			<th>First Offset</th>
			<th>Next Offset</th>
			<th>Message Count</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>0</td>
			<td>2</td>
			<td>0</td>
			<td>2</td>
			<td>2</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

@code {
	[Parameter]
	public string topicName { get; set; } = string.Empty;
}
