@page "/{clusterIdx:int}/topics/{topicName}"

@inherits ClusterIndexAwarePage
@rendermode InteractiveServer

<PageTitle>Topics: topic</PageTitle>


<div class="container-fluid">
	<div class="row">
		<div class="col">
			<h1>Topic: @topicName</h1>
		</div>
		<div class="col text-end">
			<button class="btn btn-primary">Produce Message</button>
		</div>
	</div>
</div>




<NavLinkTopics ClusterIdx="@clusterIdx" ButtonStyle="BootstrapButtonStyle.Link" Text="Back to Topics" />

@code {
	[Parameter]
	public string topicName { get; set; } = string.Empty;
}
