<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img alt="Kafkaf logo" src="/logo-80x40.png" />
    </a>

    <button
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <b class="navbar-item">Kafkaf - UI for Apache Kafka</b>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> More </a>

        <div class="navbar-dropdown">
          <a class="navbar-item"> About TODO</a>
          <a class="navbar-item"> Contact TODO</a>
          <hr class="navbar-divider" />
          <a class="navbar-item"> Report an issue TODO</a>
        </div>
      </div>

      <b class="navbar-item">DRAFT</b>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="https://github.com/smnsht/Kafkaf" target="_blank"> Home </a>
      <a class="navbar-item" href="https://github.com/smnsht/Kafkaf" target="_blank">
        Documentation
      </a>
    </div>
  </div>
</nav>
