<app-page-wrapper [error]="store.errorConsumers()" [loading]="store.loadingConsumers()">
  <app-search placeholder="Search by Consumer Name" [search]="search" />

  <table appKafkafTable>
    <thead>
      <tr>
        <th>Consumer Group ID</th>
        <th>Active Consumers</th>
        <th>Consumer Lag</th>
        <th>Coordinator</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      @for (consumer of consumers(); track $index) {
        <tr>
          <td>{{ consumer.groupId }}</td>
          <td>{{ consumer.activeConsumers }}</td>
          <td>TODO</td>
          <td>{{ consumer.coordinator }}</td>
          <td>{{ consumer.state }}</td>
        </tr>
      }
    </tbody>
  </table>
</app-page-wrapper>
