div.columns {
  margin-top: 1px;
  border-top: 1px solid gray;
  min-height: 90vh;
}

.narrow-col {
  border-right: 1px solid gray;
}

a.active {
  font-weight: bold;
  color: #1976d2;
  text-decoration: underline;
}
