<div class="columns">
  <!-- Page title-->
  <div class="column">
    <h1 class="title is-size-4">Topics</h1>
  </div>
  <!-- Button -->
  <div class="column">
    <a class="button is-primary is-pulled-right" routerLink="create">
      <span class="icon is-small">
        <i class="fas fa-plus"></i>
      </span>
      <span>Add a Topic</span>
    </a>
  </div>
</div>

<div class="columns is-vcentered">
  <!-- Search input-->
  <div class="column is-one-third">
    <div class="control has-icons-left">
      <input class="input" type="search" [(ngModel)]="search" placeholder="Search by Topic Name" />
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </div>
  </div>
  <!-- Checkbox -->
  <div class="column is-one-quarter">
    <label class="checkbox">
      <input type="checkbox" [(ngModel)]="showInternalTopics" />
      Show Internal Topics
    </label>
  </div>
  <div class="column">&nbsp;</div>
</div>

<!-- buttons -->
<div class="buttons">
  <button
    class="button is-light"
    [disabled]="selectedTopics.length === 0 || store.loading()"
    (click)="onDeleteTopicsClick()"
  >
    Delete selected topics
  </button>
  <button
    class="button is-light"
    [disabled]="selectedTopics.length !== 1 || store.loading()"
    (click)="onCopyTopicClick()"
  >
    Copy selected topic
  </button>
  <button
    class="button is-light"
    [disabled]="selectedTopics.length === 0 || store.loading()"
    (click)="onPurgeMessagesClick()"
  >
    Purge messages of selected topics
  </button>
</div>

<app-page-wrapper [state]="store.pageState()">
  <!-- Topics table -->
  <table appKafkafTable>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Topic Name</th>
        <th>Partitions</th>
        <th>Out of sync replicas</th>
        <th>Replication Factor</th>
        <th>Number of messages</th>
        <th>Size</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      @for (topic of topics(); track $index) {
      <tr>
        <td>
          <input
            type="checkbox"
            [ngModel]="selectedTopics.includes(topic.topicName)"
            [disabled]="topic.isInternal"
            (ngModelChange)="onCheckboxChange(topic.topicName, $event)"
          />
        </td>
        <td>
          <a [routerLink]="[topic.topicName]">{{ topic.topicName }}</a>
        </td>
        <td>{{ topic.partitionsCount }}</td>
        <td>{{ topic.outOfSyncReplicas }}</td>
        <td>{{ topic.replicationFactor }}</td>
        <td>TODO</td>
        <td>TODO</td>
        <td>
          <topics-dropdown-menu
            [topicName]="topic.topicName"
            [disabled]="topic.isInternal"
            (commandSelected)="onCommandSelected($event, topic)"
          />
        </td>
      </tr>
      }
    </tbody>
  </table>
</app-page-wrapper>
