<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Kafkaf</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/clusters">
                <span class="bi bi-clusters-fill-nav-menu" aria-hidden="true"></span> Clusters                                 
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/nodes">
                <span class="bi bi-nodes-fill-nav-menu" aria-hidden="true"></span> Nodes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/topics">
                <span class="bi bi-topics-fill-nav-menu" aria-hidden="true"></span> Topics
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/tail">
                <span class="bi bi-live-tail-fill-nav-menu" aria-hidden="true"></span> Live Tail
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/consumer-groups">
                <span class="bi bi-consumer-groups-fill-nav-menu" aria-hidden="true"></span> Consumer Groups
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/acls">
                <span class="bi bi-acls-fill-nav-menu" aria-hidden="true"></span> ACLS
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/schema-registry">
                <span class="bi bi-schema-registry-nav-menu" aria-hidden="true"></span> Schema Registry
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/connects">
                <span class="bi bi-connects-fill-nav-menu" aria-hidden="true"></span> Connects
            </NavLink>
        </div>
    </nav>
</div>