<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div
  (clickOutside)="onClickedOutside()"
  [ngClass]="{
    dropdown: true,
    'is-active': isActive,
    'is-right': true,
  }"
>
  <div class="dropdown-trigger" onkeypress="javascript;;" (click)="toggleisActive()">
    <span class="icon">
      <i class="fas fa-ellipsis-vertical"></i>
    </span>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
