<SectionContent SectionName="before-h1">
    <a href=@($"/{ClusterIdx}/brokers")>Brokers</a>
    <b class="ms-2 me-2">/</b>
</SectionContent>

<KafkafPageHeader Title=@PageTitle H1=@PageHeading />

<KafkafStatsCard ColWidth="2" StatsItems=@BrokerStatsItems />

<ul class="nav nav-tabs mt-3 mb-2">
    <li class="nav-item">        
        @linkForTab(BrokerTabs.LogDirectories)
    </li>
    <li class="nav-item">
        @linkForTab(BrokerTabs.Configs)        
    </li>
    <li class="nav-item">
        @linkForTab(BrokerTabs.Metrics)
    </li>
</ul>

@code {
    private List<KeyValuePair<string, string>> BrokerStatsItems = new()
    {
        new KeyValuePair<string, string>("Segment Size", "TODO"),
        new KeyValuePair<string, string>("Segment Count", "TODO"),
        new KeyValuePair<string, string>("Port", "TODO"),
        new KeyValuePair<string, string>("Host", "TOOD")
    };
}
