<div class="columns">
  <div class="column">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <a [routerLink]="['/clusters', cluster, 'consumers']">Consumers</a>
        </li>
        <li class="is-active">
          <a href="#" aria-current="page" class="has-text-black">{{  consumer() }}</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="column">
    <h1 class="title is-size-4 is-pulled-right">{{ consumer() }}</h1>
  </div>
</div>

<p>consumer-details works!</p>

<pre>{{ consumer() | json }}</pre>
<pre>{{ partitions() | json }}</pre>
