<app-page-wrapper [state]="brokersStore.pageState()">
  <h1 class="title is-size-4">Brokers</h1>

  <app-stats-card [cardItems]="cardItems()" [placeholderCount]="2" />

  <table appKafkafTable>
    <thead>
      <tr>
        <th>Broker ID</th>
        <th>Host</th>
        <th>Port</th>
      </tr>
    </thead>
    <tbody>
      @for (row of brokersStore.brokers(); track $index) {
        <tr
          (click)="navigateToBrokerDetails(row.brokerID)"
          (keydown.escape)="navigateToBrokerDetails(row.brokerID)"
          title="Click to open broker"
        >
          <td>
            {{ row.brokerID }}
            @if (row.brokerID === row.controller) {
              <span class="icon has-text-success" title="Active controller">
                <i class="fas fa-check-square"></i>
              </span>
            }
          </td>
          <td>{{ row.host }}</td>
          <td>{{ row.port }}</td>
        </tr>
      }
    </tbody>
  </table>
</app-page-wrapper>
