<ul class="list-group list-group-horizontal small w-100">
    @foreach (var item in StatsItems)
    {
        <li class=@Clazz>
            <div>@item.Key</div>
            <span class="badge bg-secondary">@item.Value</span>
        </li>
    }
</ul>

@code {
    [Parameter]
    public IEnumerable<KeyValuePair<string, string>> StatsItems { get; set; } = new List<KeyValuePair<string, string>>();

    [Parameter]
    public int ColWidth { get; set; } = 2;

    private string Clazz
    {
        get => $"list-group-item col-{ColWidth}";
    }
}
