@rendermode InteractiveServer
@inherits ClusterIndexAwarePage
@using Kafkaf.UI.Components.Partials.Broker
@using Kafkaf.UI.Components.UI

<BrokerComponent ClusterIdx="clusterIdx"
				 BrokerIdx="brokerIdx"
				 PageTitle=@($"Configs For Broker #{brokerIdx} on cluster #{clusterIdx}")
				 PageHeading=@($"Configs For Broker #{brokerIdx}")
				 CurrentPathPart="@BrokerComponent.PATH_PART_CONFIGS" />

<h5>DUMMY DATA</h5>

<div class="container-fluid">
	<div class="row">
		<div class="col-4">
			<input type="search" class="form-control" placeholder="Search by Key of Value" />			
		</div>
	</div>
</div>


<table class="table table-hover">
	<thead>
		<tr>
			<th>Key</th>
			<th>Value</th>
			<th>Source</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var t in DummyData)
		{
			<tr>
				<td>@t.Item1</td>
				<td>@t.Item2</td>
				<td><button type="button" class="btn btn-primary" disabled>Edit</button> @t.Item3</td>
			</tr>
		}
	</tbody>
</table>

@code {
	private Tuple<string, string, string>[] DummyData =
	{
		new ("log.cleaner.min.compaction.lag.ms", "0", "DEFAULT_CONFIG"),
		new ("offsets.topic.num.partitions", "50", "DEFAULT_CONFIG"),
		new ("sasl.oauthbearer.jwks.endpoint.refresh.ms", "36000", "DEFAULT_CONFIG"),
		new ("log.flush.interval.messages", "9223372036854775807", "DEFAULT_CONFIG")
	};
}
