<div class="container-fluid pt-2 pb-2 ps-2 rounded" style="background-color: #cacaca;">
    <div class="row ms-2">
        <!-- col A -->
        <div class=@($"col-{ColAWidth}")>
            <h5>@ColATitle</h5>

            @ColA
        </div>

        <!-- col B -->
        <div class=@($"col-{ColBWidth}")>
            <h5>@ColBTitle</h5>

            @ColB
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int ColAWidth { get; set; } = 2;

    [Parameter]
    public string ColATitle { get; set; } = "?";    

    [Parameter]
    public int ColBWidth { get; set; } = 2;

    [Parameter]
    public string ColBTitle { get; set; } = "?";

    [Parameter]
    public RenderFragment? ColA { get; set; }

    [Parameter]
    public RenderFragment? ColB { get; set; }
}