<app-page-wrapper [state]="topicOverviewStore.pageState()">
  <app-stats-card [cardItems]="cardItems()" />

  <table appKafkafTable>
    <thead>
      <tr>
        <th>Partition ID</th>
        <th>Replicas</th>
        <th>First Offset</th>
        <th>Next Offset</th>
        <th>Message Count</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (row of topicOverviewStore.partitions(); track $index) {
        <tr>
          <td>{{ row.partition }}</td>
          <td>{{ row.replicas.length }}</td>
          <td>{{ row.offsetMin }}</td>
          <td>{{ row.offsetMax }}</td>
          <td>{{ row.messagesCount }}</td>
          <td>
            <topics-dropdown-menu
              [topicName]="topicName()"
              [disabled]="row.messagesCount === 0"
              [showRecreateTopic]="false"
              [showRemoveTopic]="false"
              (commandSelected)="onCommandSelected($event, row)"
            />
          </td>
        </tr>
      }
    </tbody>
  </table>
</app-page-wrapper>
