<h1 class="title is-size-4">Dashboard</h1>

@if (loading()) {

  <div class="control is-loading is-large">&nbsp;</div>

} @else {
<app-stats-card [cardItems]="cardItems()" [placeholderCount]="7"></app-stats-card>

<label class="checkbox pt-2 pb-2">
  <input type="checkbox" [(ngModel)]="onlyOfflineClusters" />
  Only offline clusters
</label>

<table appKafkafTable>
  <thead>
    <tr>
      <th>Cluster alias</th>
      <th>Broker Name</th>
      <th>Brokers count</th>
      <th>Partitions</th>
      <th>Topics</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    @for (cluster of clustersForDisplay(); track $index) {
    <tr>
      <td>{{ cluster.alias }}</td>
      <td>{{ cluster.originatingBrokerName }}</td>
      <td>{{ cluster.brokerCount }}</td>
      <td>{{ cluster.onlinePartitionCount }}</td>
      <td>{{ cluster.topicCount }}</td>
      <td>
        <label class="icon-text has-text-grey-light is-size-7">
          @if (cluster.isOffline) {
          <span>Offline</span>
          <span class="icon has-text-warning">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
          } @else {
          <span>Online</span>
          <span class="icon has-text-success">
            <i class="fas fa-check-square"></i>
          </span>
          }
        </label>
      </td>
    </tr>
    }
  </tbody>
</table>
}
