<li class="list-group-item col-4">
	<div>@Label</div> 
	<span class="badge bg-secondary">@Badge TODO</span>
</li>

@code {
	public string Label { get; set; } = "?";
	public string Badge { get; set; } = "?";
}
