<div class="col-6 border">
    <h5>@Title</h5>

    <ul class="list-group list-group-horizontal small w-100">
        @ChildContent        
    </ul>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
