@page "/{clusterId:int}/brokers/{brokerIdx:int}"
@rendermode InteractiveServer

<PageTitle>Brokers: Cluster #@clusterId</PageTitle>

<h3>Brokers: Cluster d #@clusterId</h3>

@code {
	[Parameter]
	public int clusterId { get; set; }

	[Parameter]
	public int brokerIdx { get; set; }
}
