@page "/{clusterIdx:int}/brokers/{brokerIdx:int}"
@rendermode InteractiveServer
@inherits ClusterIndexAwarePage
@using Kafkaf.Components.Partials.Broker

<BrokerComponent ClusterIdx="clusterIdx"
				 BrokerIdx="brokerIdx"
				 PageTitle=@($"Broker #{brokerIdx} on cluster #{clusterIdx}")
				 PageHeading=@($"Broker #{brokerIdx}") 
				 CurrentPathPart="" />
<p>todo</p>

@code {
	[Parameter]
	public int brokerIdx { get; set; }
}
