@page "/{clusterIdx:int}/brokers"
@rendermode InteractiveServer
@inherits ClusterIndexAwarePage

<KafkafPageHeader Title="Brokers: List" H1="Brokers: List" />

<div class="container-fluid pt-2 pb-3 rounded" style="background-color: #cacaca;">
    <div class="row">
        <div class="col-5">
            <h5>Uptime</h5>

            <ul class="list-group list-group-horizontal small w-100">
                <li class="list-group-item col-4">
                    <div>Broker Count</div>
                    <span class="badge bg-secondary">TODO</span>
                </li>
                <li class="list-group-item col-4">
                    <div>Active Controller</div>
                    <span class="badge bg-secondary">TODO</span>
                </li>
                <li class="list-group-item col-4">
                    <div>Version</div>
                    <span class="badge bg-secondary">TODO</span>
                </li>
            </ul>
        </div>
        <div class="col-7">
            <h5>Partitions</h5>

            <ul class="list-group list-group-horizontal small w-100">
                <li class="list-group-item col-3">
                    <div>Online</div>
                    <span class="badge bg-secondary">TODO</span>
                </li>
                <li class="list-group-item col-3">
                    <div>URP</div>
                    <span class="badge bg-secondary">TODO</span>
                </li>
                <li class="list-group-item col-3">
                    <div>In Sync Replicas</div>
                    <span class="badge bg-secondary">TODO</span>
                </li>
                <li class="list-group-item col-3">
                    <div>Out Of Sync Replicas</div>
                    <span class="badge bg-secondary">TODO</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Broker ID</th>
            <th>Host</th>
            <th>Port</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in brokers.OrderBy(b => b.BrokerId))
        {
            <tr>
                <td><a href=@($"/{clusterIdx}/brokers/{row.BrokerId}")>@row.BrokerId</a></td>
                <td>@row.Host</td>
                <td>@row.Port</td>
            </tr>
        }
    </tbody>
</table>

@code {
    
}
