@page "/{clusterIdx:int}/brokers"
@using Kafkaf.Web.Components.UI
@rendermode InteractiveServer
@inherits ClusterIndexAwarePage

<KafkafPageHeader Title="Brokers: List" H1="Brokers: List" />

<KafkafStatsCard2 ColATitle="Uptime" ColAWidth="5" ColBTitle="Partitions" ColBWidth="7">
    <ColA>
        <KafkafStatsCard ColWidth="4" StatsItems=@StatsItemsA />
    </ColA>

    <ColB>
        <KafkafStatsCard ColWidth="3" StatsItems=@StatsItemsB />
    </ColB>
</KafkafStatsCard2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Broker ID</th>
            <th>Host</th>
            <th>Port</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in brokers.OrderBy(b => b.BrokerId))
        {
            <tr>
                <td><a href=@($"/{clusterIdx}/brokers/{row.BrokerId}")>@row.BrokerId</a></td>
                <td>@row.Host</td>
                <td>@row.Port</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<KeyValuePair<string, string>> StatsItemsA = new()
    {
        new KeyValuePair<string, string>("Broker Count", "TODO"),
        new KeyValuePair<string, string>("Active Controller", "TODO"),
        new KeyValuePair<string, string>("Version", "TODO")
    };

    private List<KeyValuePair<string, string>> StatsItemsB = new()
    {
        new KeyValuePair<string, string>("Online", "TODO"),
        new KeyValuePair<string, string>("URP", "TODO"),
        new KeyValuePair<string, string>("In Sync Replicas", "TODO"),
        new KeyValuePair<string, string>("Out Of Sync Replicas", "TOOD")
    };
}
