@page "/{clusterIdx:int}/consumer-groups"
@using Kafkaf.Web.Components.UI
@rendermode InteractiveServer
@inherits ClusterIndexAwarePage

<KafkafPageHeader Title="Consumer Groups: List" H1="Consumer Groups" />

<div class="container-fluid mb-2">
	<div class="row">
		<div class="col-4">
			<input type="search" class="form-control" placeholder="Search by Consumer Group ID" />
		</div>
	</div>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Group ID</th>
			<th>Num Of Members</th>
			<th>Num Of Topics</th>
			<th>Consumer Lag</th>
			<th>Coordinator</th>
			<th>State</th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
</table>

@code {

}
