@if (disabled()) {
  <span class="icon" style="color: gainsboro">
    <i class="fas fa-ellipsis-vertical"></i>
  </span>
} @else {
  <app-dropdown-menu>
    @if (showEditSettings()) {
      <a href="" (click)="onCommandClick($event, 'EditSettings', false)" class="dropdown-item"
        >Edit settings</a
      >
      <i class="dropdown-item is-size-7"
        >Pay attention! This operation has especially important consequences.</i
      >
    }
    <a
      href=""
      (click)="onCommandClick($event, 'ClearMessages')"
      class="dropdown-item has-text-danger"
      >Clear Messages</a
    >
    <i class="dropdown-item is-size-7"
      >Clearing messages is only allowed for topics with DELETE policy</i
    >
    <a
      href=""
      (click)="onCommandClick($event, 'RecreateTopic')"
      class="dropdown-item has-text-danger"
      >Recreate Topic</a
    >
    <a href="" (click)="onCommandClick($event, 'RemoveTopic')" class="dropdown-item has-text-danger"
      >Remove Topic</a
    >
  </app-dropdown-menu>
}
