<div class="modal" [class.is-active]="messagesStore.showMessageForm()">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Produce Message</p>
      <button class="delete" aria-label="close" (click)="messagesStore.setShowMessageForm(false)"></button>
    </header>
    <section class="modal-card-body">
      <form #form="ngForm">
        <div class="columns">
          <div class="column is-one-half">
            <div class="field">
              <label class="Label" for="partition">Partition</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select id="partition" [(ngModel)]="payload.partition" name="partition">
                    <option [value]="undefined">--not specified--</option>
                    @for (p of topicDetailsStore.partitions(); track $index) {
                      <option [value]="p.partition">{{ p.partition }}</option>
                    }
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-one-half">&nbsp;</div>
        </div>

        <div class="columns">
          <div class="column is-one-half">
            <ddl-serde label="Key Serde" [(serde)]="payload.keySerde" />
          </div>
          <div class="column is-one-half">
            <ddl-serde label="Value Serde" [(serde)]="payload.valueSerde" />
          </div>
        </div>

        <div class="field">
          <label class="checkbox" for="chk-keep-contents">
            <input
              type="checkbox"
              id="chk-keep-contents"
              [(ngModel)]="payload.keepContents"
              name="keepContents"
            />
            Keep contents
          </label>
        </div>

        <div class="field">
          <label class="Label" for="txt-key">Key</label>
          <div class="control">
            <textarea
              class="textarea"
              id="txt-key"
              rows="2"
              [(ngModel)]="payload.key"
              name="key"
            ></textarea>
          </div>
        </div>

        <div class="field">
          <label class="Label" for="txt-value">Value</label>
          <div class="control">
            <textarea
              class="textarea"
              id="txt-value"
              rows="4"
              name="value"
              [(ngModel)]="payload.value"
            ></textarea>
          </div>
        </div>

        <div class="field">
          <label class="Label" for="txt-headers">Headers</label>
          <div class="control">
            <textarea
              class="textarea"
              id="txt-headers"
              rows="2"
              [(ngModel)]="payload.rawJson"
              name="headers"
              appJsonValidator
              #headers="ngModel"
            ></textarea>
          </div>
          @if (headers.invalid && headers.touched) {
            <p class="help is-danger">Must be valid JSON or left empty.</p>
          }
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button
          class="button is-success"
          [class.is-loading]="messagesStore.loading()"
          (click)="onProduceMessageClick()"
          [disabled]="form.invalid"
        >
          Produce Message
        </button>
        <button class="button" (click)="messagesStore.setShowMessageForm(false)">Cancel</button>
      </div>
    </footer>
  </div>
</div>
