@using Kafkaf.Components.Topic

@inherits ClusterIndexAwarePage
@rendermode InteractiveServer
@attribute [Route(TopicComponent.ROUTE_SETTINGS)]

<TopicComponent ClusterIdx="@clusterIdx"
				PageTitle=@($"Topic {topicName}: Settings")
				TopicName="@topicName"
				CurrentPathPart="@TopicComponent.PATH_PART_SETTINGS" />

<h3>this is topic settings</h3>

@code {
	[Parameter]
	public string topicName { get; set; } = string.Empty;	
}
