@using Kafkaf.Components.Topic

@inherits ClusterIndexAwarePage
@rendermode InteractiveServer
@attribute [Route(TopicComponent.ROUTE_OVERVIEW)]

<TopicComponent ClusterIdx="@clusterIdx"
				PageTitle=@($"Topic: {topicName}")
				TopicName="@topicName"
				CurrentPathPart="@TopicComponent.PATH_PART_OVERVIEW" />

<h3>this is topic overview</h3>

@code {
	[Parameter]
	public string topicName { get; set; } = string.Empty;
}
