@if (!string.IsNullOrEmpty(Notice))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> @Notice
        <button type="button" 
                class="btn-close" 
                data-bs-dismiss="alert" 
                aria-label="Close" @onclick="() => Notice = null"></button>
    </div>
}


@code {
    [Parameter]
    public string Heading { get; set; } = "Error!";

    [Parameter]
    public string? Notice { get; set; }

    public void SetNotice(string? notice)
    {
        Notice = notice;
        StateHasChanged();
    }
}
