@if (!string.IsNullOrEmpty(Notice))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Heading</strong> @Notice
        <button type="button" 
                class="btn-close" 
                data-bs-dismiss="alert" 
                aria-label="Close" @onclick="() => Notice = null"></button>
    </div>
}

@code {
    [Parameter]
    public string Heading { get; set; } = "Success!";

    [Parameter]
    public string? Notice { get; set; }

    public void SetNotice(string? notice)
    {
        Notice = notice;
        StateHasChanged();
    }
}
