@using Kafkaf.UI.Components.UI
<button class="@ClassList" 
		type="button" 
		disabled="@(IsBusy ? true : null)">
	<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
	<span class="sr-only">@Text</span>
	@Text
</button>

@code {
	[Parameter]
	public bool IsBusy { get; set; } = false;

	[Parameter]
	public string BuzyText { get; set; } = "Loading...";

	[Parameter]
	public string IdleText { get; set; } = "?";

	[Parameter]
	public BootstrapButtonStyle ButtonStyle { get; set; } = BootstrapButtonStyle.Primary;

	[Parameter]
	public BootstrapButtonSize? ButtonSize { get; set; }

	public string Text
	{
		get => IsBusy ? BuzyText : IdleText;
	}

	public string ClassList
	{
		get
		{
			var classes = new List<string>() 
			{ 
				"btn", 
				ButtonStyle.ToCssClass() 
			};

			if (ButtonSize.HasValue)
			{
				classes.Add(ButtonSize.Value.ToCssClass());	
			}

			return string.Join(' ', classes);
		}
	}
}
