<div class="@ClassList" role="status">
	<span class="sr-only">@SROnlyText</span>
</div>

@code {
	[Parameter]
	public string SROnlyText { get; set; } = "Loading...";

	[Parameter]
	public string[]? ExtraClasses { get; set; }

	public string ClassList 
	{
		get
		{
			var classes = new List<string>() { "spinner-border" };

			if (ExtraClasses?.Length > 0)
			{
				classes.AddRange(ExtraClasses);
			}

			return string.Join(' ', classes);
		}
	}
}
