.dropdown, .dropdown-trigger {
  width: 100%;

  button {
    width: 100%;
  }
}

#search-topic-name {
  width: 100%;
}

.badge {
  border-radius: var(--bulma-radius-large);
  color: aliceblue;
}

.badge.has-messages {
  background-color: var(--bulma-primary);
}
