<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasRightLabel">Produce Message</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<EditForm Model="@this">
			<div class="mb-3">
				<label for="selectPartition" class="form-label">Partition</label>
				<InputSelect class="form-control" id="selectPartition" @bind-Value=@foo>
					<option value="">foo</option>
					<option value="boo">boo</option>
				</InputSelect>
			</div>

			<div class="mb-3">
				<label for="selectKeySerde">Key Serde</label>
				<InputSelect class="form-control" id="selectKeySerde" @bind-Value=@foo>
					<option value="">foo</option>
					<option value="boo">boo</option>
				</InputSelect>
			</div>

			<div class="mb-3">
				<label for="selectValueSerde">Value Serde</label>
				<InputSelect class="form-control" id="selectValueSerde" @bind-Value=@foo>
					<option value="">foo</option>
					<option value="boo">boo</option>
				</InputSelect>
			</div>

			<div class="mb-3">
				<div class="form-check form-switch">
					<label class="form-check-label" for="switchKeepContents">Keep contents</label>
					<input class="form-check-input" type="checkbox" id="switchKeepContents">
				</div>
			</div>

			<div class="mb-3">
				<label for="textKey">Key</label>				
				<textarea class="form-control" id="textKey" rows="2"/>
			</div>

			<div class="mb-3">
				<label for="textValue">Value</label>
				<textarea class="form-control" id="textValue" rows="5" />
			</div>

			<div class="mb-3">
				<label for="textHeaders">Headers</label>
				<textarea class="form-control" id="textHeaders" rows="3" />
			</div>

			<button type="submit" class="btn btn-primary">Produce Message</button>
		</EditForm>
	</div>
</div>

@code {
	private string foo = "";
}
