<app-page-wrapper [state]="store.pageState()">
  <app-search placeholder="Search by Consumer Name" [search]="search" />

  <table appKafkafTable>
    <thead>
      <tr>
        <th>Consumer Group ID</th>
        <th>Active Consumers</th>
        <th>Consumer Lag</th>
        <th>Coordinator</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      @for (consumer of consumers(); track $index) {
        <tr>
          <td>
            <a [routerLink]="['/clusters', cluster(), 'consumers', consumer.groupId]">{{
              consumer.groupId
            }}</a>
          </td>
          <td>{{ consumer.numberOfMembers }}</td>
          <td>{{ consumer.consumerLag }}</td>
          <td>{{ consumer.coordinator }}</td>
          <td>{{ consumer.state }}</td>
        </tr>
      }
    </tbody>
  </table>
</app-page-wrapper>
