<div class="columns">
  <div class="column">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <a [routerLink]="['/clusters', cluster, 'brokers']">Brokers</a>
        </li>
        <li class="is-active">
          <a href="#" aria-current="page" class="has-text-black">Broker #{{  broker }}</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="column">
    <h1 class="title is-size-4 is-pulled-right">Broker #{{ broker }}</h1>
  </div>
</div>

<app-page-wrapper [state]="store.pageState()">
  <app-stats-card [cardItems]="cardItems" [placeholderCount]="3" />

  <div class="tabs">
    <ul>
      <li [class.is-active]="'BrokerLogDirectories' === currentTab">
        <a [routerLink]="['/clusters', cluster, 'brokers', broker]">Log directories</a>
      </li>
      <li [class.is-active]="'BrokerConfigs' === currentTab">
        <a [routerLink]="[{ outlets: { broker: ['configs'] } }]">Configs</a>
      </li>
      <li [class.is-active]="'BrokerMetrics' === currentTab">
        <a [routerLink]="[{ outlets: { broker: ['metrics'] } }]">Metrics</a>
      </li>
    </ul>
  </div>
</app-page-wrapper>

<router-outlet name="broker" (activate)="onBrokerActivate($event)"></router-outlet>
